body {
    font-family: 'Orbitron', sans-serif;
    color: #82a5ca;
    text-align: center;
    margin: 0;
}

#hero {
    background-image: url("../images/galaxy.webp");
    background-size: cover;
    padding: 20px 0;
}

#spacex {
    width: 100px;
}

#title {
    text-shadow: 0px 0px 5px black;
}

.underline {
    border-bottom: 5px solid white;
}

.btn {
    background-color: white;
    font-family: inherit;
    color: inherit;
    padding: 8px 16px;
    font-weight: 800;
    border: none;
    cursor: pointer;
}