#container {
    width: 600px;
    margin: 200px auto;
}

img {
    display: block;
    width: 400px;
    margin: 0 auto 50px auto;
}

input {
    display: block;
    margin: 0 auto 30px auto;
    width: 500px;
    line-height: 25px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    padding: 10px 30px;
}

input:hover {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}

input:focus-visible {
    outline: none;
}

.btn-container-div {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    padding: 10px 18px;
    background: #f8f9fa;
}

button:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    border-color: #dadce0;
    cursor: pointer;
}
